@model ProductViewModel
<!-- Banner -->
<div>
    <img src="~/icon/product-banner-Copy.jpg" alt="banner" class="img-fluid">
</div>

<!-- Product detail -->
<div class="container pt-3 pb-3 bg-white">
    <h3 class="sub-title text-center" style="color: var(--bs-green)">Sản phẩm</h2>
    <h2 class="title text-center" style="color: var(--bs-primary)">THÔNG TIN SẢN PHẨM</h2>
    <div class="about">
        <img class="about-logo w-50" src="~/img/vegetables/@Model.Vegetable.Image" alt="">
        <div class="about-content mt-4 w-50 ps-5 pt-3">
            <h2 class="about-content-title">@Model.Vegetable.Name</h2>
            <div class="star-vote mt-1 justify-content-start">
                @{
                    var vote = Math.Floor(Model.Vegetable.Stars);
                    var no_vote = Math.Floor(5-Model.Vegetable.Stars);
                    var half_vote = 5 - (vote + no_vote);
                    for (var i = 1; i <= vote; i++)
                    {
                            <i class="fas fa-star" style="color: #FFCC33; margin-left:1px; margin-right:1px; font-size: 16px;"></i>
                    }
                    for (var i = 1; i <= half_vote; i++)
                    {
                            <i class="fas fa-star-half-alt" style="color: #FFCC33; margin-left:1px; margin-right:1px; font-size: 16px;"></i>
                    }
                    for (var i = 1; i <= no_vote; i++)
                    {
                            <i class="far fa-star" style="color: #FFCC33; margin-left:1px; margin-right:1px; font-size: 16px;"></i>
                    }
                }
            </div>
            <h5 class="slide-price">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),"{0:c}",@Model.Vegetable.Price)</h5>
            <p class="detail-content">Khối lượng: <b>@Model.Vegetable.Weight g</b></p>
            <div class="detail-amount mb-3">
                <p class="d-inline detail-content">Số lượng:</p>
                <input id="detail_amount" class="form-control text-center d-inline w-25" value="1" type="number" min="1" max="10">
            </div>
            <button class="btn btn-primary" onclick="#">Thêm vào giỏ</button>
            <div class="detail-bonus mt-4">
                <h5 style="color: var(--bs-primary); font-weight: 600; margin-bottom: 20px;">NGUỒN GỐC SẢN PHẨM</h5>
                <p class="detail-content"><b>Thông tin nguồn gốc:</b> @Model.Vegetable.Location </p>
            </div>
        </div>
    </div>
    @*<!-- Comment and vote -->*@
    <div class="comment mt-3">
        <h3 class="sub-title text-left" style="color: var(--bs-green)">Bình luận & Đánh giá</h2>
        <div class="container mt-2">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div>
                        <form asp-controller="Products" asp-action="Comment" asp-route-VegetableId="@Model.Vegetable.Id" method="post">
                            <div class="d-flex flex-row add-comment-section mt-2 mb-2">
                                <img class="img-responsive rounded-circle mr-2" src="~/img/users/MyAvatar.jpeg" width="50">
                                <input type="text" name="Comment" class="form-control mr-3 ms-2" style="color:black" placeholder="Thêm bình luận">
                            </div>
                            <div class="d-flex flex-row add-comment-section mt-2 mb-2 justify-content-between">
                                <div class="star-rating icons align-items-center justify-content-center">
                                    <small class="ms-5">Bạn chấm sản phẩm bao nhiêu điểm?</small>
                                    <input type="radio" name="Vote" id="rate-5" value="5">
                                    <label for="rate-5" class="fas fa-star"></label>
                                    <input type="radio" name="Vote" id="rate-4" value="4">
                                    <label for="rate-4" class="fas fa-star"></label>
                                    <input type="radio" name="Vote" id="rate-3" value="3">
                                    <label for="rate-3" class="fas fa-star"></label>
                                    <input type="radio" name="Vote" id="rate-2" value="2">
                                    <label for="rate-2" class="fas fa-star"></label>
                                    <input type="radio" name="Vote" id="rate-1" value="1">
                                    <label for="rate-1" class="fas fa-star"></label>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Đánh giá">
                            </div>
                        </form>
                    </div>

                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h5>Tất cả bình luận(@Model.Feedbacks.Count) @Math.Round(Model.Vegetable.Stars,1)/5<i class="fa fa-star text-warning"></i></h5>
                    </div>
                    
                    @foreach (var feedback in Model.Feedbacks)
                    {
                        <div class="card p-3 mt-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center"> 
                                    <img src="~/img/users/@feedback.Avatar" width="30" class="user-img rounded-circle mr-2"> 
                                    <span>
                                        <small class="fw-bold ms-2">@feedback.UserName</small> 
                                        @*<small class="font-weight-bold">@feedback.Comment</small>*@
                                    </span> 
                                </div> 
                                <small>@feedback.FeedbackTime</small>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                <small class="font-weight-bold ms-4">@feedback.Comment</small>
                                 <div class="icons align-items-center">
                                     @for (var i = 1; i <= feedback.Vote; i++)
                                     {
                                         <i class="fa fa-star text-warning"></i>
                                     }
                                     @for (var i = 1; i <= 5-feedback.Vote; i++)
                                     {
                                         <i class="far fa-star text-warning"></i>
                                     }
                                </div>
                            </div>
                            <div class="action d-flex justify-content-end align-items-center">
                                <a href="#"><small class="me-3 text-primary">Chỉnh sửa</small></a>
                                <a href="#"><small class="text-primary">Xóa</small></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper pt-3" style="background-color: var(--body)!important;">
    <div class="container d-flex flex-column align-items-center">
        <h3 class="sub-title">Menu</h2>
        <h2 class="title">CÁC SẢN PHẨM CÙNG LOẠI</h2>
        <div class="cate-content container menu">
            @foreach (var item in Model.Vegetables)
            {
                <div class="cate-item">
                    <a asp-controller="products" asp-action="detail" asp-route-Id="@item.Id"><img class="item-img" src="~/img/vegetables/@item.Image" alt=""></a>
                    <h3 class="item-name">@item.Name</h3>
                    <div class="star-vote mt-1">
                        @{
                            vote = Math.Floor(item.Stars);
                            no_vote = Math.Floor(5-item.Stars);
                            half_vote = 5 - (vote + no_vote);
                            for (var i = 1; i <= vote; i++)
                            {
                                <i class="fas fa-star" style="color: #FFCC33; margin-left:1px; margin-right:1px; font-size: 16px;"></i>
                            }
                            for (var i = 1; i <= half_vote; i++)
                            {
                                <i class="fas fa-star-half-alt" style="color: #FFCC33; margin-left:1px; margin-right:1px; font-size: 16px;"></i>
                            }
                            for (var i = 1; i <= no_vote; i++)
                            {
                                <i class="far fa-star" style="color: #FFCC33; margin-left:1px; margin-right:1px; font-size: 16px;"></i>
                            }
                        }
                    </div>
                    <div class="price-button">
                        <p style="color: var(--green); font-weight: 700; font-size:22px; margin-bottom:0; line-height: 38px">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),"{0:c}",@item.Price)</p>
                        <button onclick="#" class="btn btn-primary" style="font-size: 14px; font-weight: 700;">Thêm vào giỏ</button>
                    </div>
                </div>
            }
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination mt-3">
                <li class="page-item ps-1 pe-1"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item ps-1 pe-1 active"><a class="page-link" href="#">1</a></li>
                <li class="page-item ps-1 pe-1"><a class="page-link" href="#">2</a></li>
                <li class="page-item ps-1 pe-1"><a class="page-link" href="#">3</a></li>
                <li class="page-item ps-1 pe-1"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>